<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Contact - MediFile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <header>
        <div class="header-top">
            <h1>MediFile</h1>
            <img src="{{ url_for('static', filename='images/logomedifile_1.png') }}" alt="MediFile Logo" class="header-logo">
        </div>
       {% include 'navbar.html' %}
    </header>

    <main>
        <h2>Contact</h2>
        <p>Neem contact met ons op via:</p>
        <ul>
            <li>Email: info@medifile.nl</li>
            <li>Telefoon: 030-1234567</li>
            <li>Adres: Medifilelaan 1, Utrecht</li>
        </ul>
    </main>

    {% include 'footer.html' %}

</body>
</html>