<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>MediFile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
     <header>
    <div class="header-top">
        <div class="logo-title">
            <img src="{{ url_for('static', filename='images/logomedifile_1.png') }}" alt="MediFile Logo" class="header-logo">
            <h1>MediFile</h1>
        </div>
    </div>
    {% include 'navbar.html' %}
</header>

    <main>
        <h2>Welkom bij MediFile</h2>
        <p>Wij bieden veilige opslag van medische dossiers voor zorginstellingen.</p>
    </main>

   {% include 'footer.html' %}

</body>
</html>
